@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* STYLING GUIDELINES */
/* media queries go in the globals */
/* use CSS modules for specific components */
/* use Tailwind or bespoke element styling */
/* If you use CSS modules, either store them together with the component they are styling, or in a separate styles folder */

Header{
    background-color: tomato;
}