@import "tailwindcss";

/* import font */

:root {
  --bgColour: #f0fcf9;
  --fontColour: #2d1919;
  --darkAccent: #7a6969;
  --lightAccent: #d1b8b8;
  --font: monospace;
}

/* STYLING GUIDELINES */
/* add media queries */
/* use CSS modules for specific components */
/* use Tailwind or bespoke element styling */



body{
  background-color: var(--bgColour);
  color: var(--fontColour);
  font-family: var(--font)
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

